.DiaryEditor {
  border-bottom: 1px solid gray;
  text-align: center;
  padding: 20px;

}

.DiaryEditor input,
textarea {
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
}

.DiaryEditor textarea {
  height: 150px;
}

.DiaryEditor select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.DiaryEditor button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}

/* List */
.DiaryList {
  border: 2px solid lightblue;
  padding: 20px;
  margin: 30px;
}

.DiaryList h2 {
  text-align: center;
}

.DiaryList h3 {
  color: gray;
  font-size: 15px;
}

.DiaryItem {
  background-color: aliceblue;
  padding: 30px;
  margin: 10px;
}

#deleteBtn {
  display: grid;
  position: relative()
}

#wrote_date {
  color: gray;
}

#content {
  font-weight: bold;
  margin-top: 10px;
  padding-top: 10px;
}